<?xml version="1.0"?>

<launch>
   
  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/>
   
  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/> 
  </include>
   
  <!-- Start SLAM system -->
   <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="odom_frame" value="world"/>
  </include> 
 
  <!-- Start GeoTIFF mapper -->
   <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_publish_rate" value="4"/> 
  </include> 
  


  
  <!-- Start rviz visualization with preset config -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_quadrotor_demo)/rviz_cfg/indoor_slam.rviz"/> 
   
   	        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find navigation_stack)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find navigation_stack)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find navigation_stack)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find navigation_stack)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find navigation_stack)/cfg/dwa_local_planner_params.yaml" command="load" />

		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

      		<param name="clearing_rotation_allowed" value="true" /> <!-- Nox is able to rotate in place -->
	</node>
   
</launch>
